*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}
#particles-js {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}
#particleChild{
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;
}
h1{
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 60px;

}
p.me{
    font-size: 25px;
}
.me{
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
}
#mouse{
    position: absolute;
    /* margin-top: 20px; */
    width: 100%;
    filter: invert(100%);
    animation: jiggle 1s infinite alternate linear;
}
#main2{
    margin-top: 140px;
    width: 3%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
@keyframes jiggle{
    0% {
      margin-top: 260px
    }
    100% {
      margin-top: 280px;
    }
  }
