*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#main{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;    
}
#particles-js {
    background-image: url(background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}
#particleChild{
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: white;
    position: relative;
    align-items: center;
    justify-content: center;

}
h1{
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    font-size: 65px;
}
p.me{
    font-size: 25px;
}
.me{
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;

}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 60px;
}
nav a:visited{
    color: white;
    text-decoration: none;
}
nav div a:hover{
   color: green;
}
nav a{
    color: white;
    text-decoration: none;
}
#mouse{
    position: absolute;
    width: 100%;
    filter: invert(100%);
    animation: jiggle 1s infinite alternate linear;
}
#main2{
    width: 3%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
@keyframes jiggle{
    0% {
      margin-top: 260px
    }
    100% {
        margin-top: 280px;
    }
}

#aboutme{
    height:120vh;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    padding-top: 50px;
}
#img{
    height: 30%;
    width: 100%;
    background-image: url("pfp.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    border:8px solid rgb(255, 255, 255) ;
}
#text{
    margin-top: 50px;
    width: 50%;
    height:50%;
    color: rgb(172, 172, 172);
}
#nobar{
    border: none;
    border:bottom;
}
#text p{
    font-size: 20px;
    color: rgb(179, 179, 179);
    margin-top: 10px;
}
#bar{
    border: 2px solid white;
    width : 150px;
    height: 0px;
    background-color: white;
}
.accordion-body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    transition: 0.5s;
}
.accordion-button{
    background-color: rgb(28, 28, 28);
    color: white;
    transition: 0.5s;
    border: 2px solid rgb(111, 111, 111);
}
.accordion-button::after{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
.accordion-button:hover{
    background-color: rgb(94, 94, 94);
    color: white;
}
.accordion:active{
    background-color: rgb(0, 0, 0);
    color: white;
}
.accordion-item{
    background-color: rgb(0, 0, 0);
    color: white;
    margin-top: 10px;
}
.accordion-button:not(.collapsed){
    background-color: black;
    color: white;
    border-color: rgb(0, 128, 30);
}
.accordion{
    margin-top: 70px;
}
#aboutme2{
    width: 15rem;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    font-size: 15px;
    font-weight: bold;
    color: rgb(154, 153, 153);
}
.info a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(154, 153, 153);
}
.info a:hover{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(9, 130, 0);
}
#info2{
    color: rgb(248, 248, 248);
    font-size: 28px;
    margin-top: 20px;
}
.info1{
    color: rgb(248, 248, 248);
    font-size: 17px;
    font-weight: bold;
}
#bar1{
    border: 1.5px solid white;
    width : 150px;
    height: 0px;
    background-color: white;
    margin-bottom: 30px;
}
#page3{
    height: 110vh;
    width: 100%;
    background:rgba(0,0,0,0.5)url("bgpage3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;

}
#page3one{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}
#board10{
    height: 100%;
    position: relative;
    filter: invert(100%);
    align-items: center;
    zoom: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#board12{
    height: 100%;
    position: relative;
    filter: invert(100%);
    align-items: center;
    zoom: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#degree{
    height: 100%;
    position: relative;
    filter: invert(100%);
    align-items: center;
    zoom: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page3two{
    width: 100%;
    height: 50%;
}
.pictext{
    font-size: 100px;
}

#whathead{
    color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#whatheadbar{
    border : 2px solid rgb(0, 0, 0);
    width: 7%;
    background-color: rgb(0, 0, 0);
}
#whathead1{
    margin-top: 50px;
    font-size: 35px;
    font-weight: bold;
}
#page3two{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
#page3twotwo{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#progpic{
    width: 30%;
    border-radius: 20px;
}
#webpic{
    border-radius: 10px;
    width: 30%;
}

#program{
    display: flex;
    flex-direction:column;   
    justify-content: center;
    align-items: center;
    width: 20%;
}
#webdev{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}
#webdev p{
    font-size: 15px;
}
#webdev h3{
    font-size: 27px;
    font-weight: bold;
}
#program p{
    font-size: 15px;
}
#program h3{
    font-size: 27px;
    font-weight: bold;
}

#webdev:hover #webpic{
    filter: invert(100%);
    background-color: rgb(255, 255, 255);
}
#program:hover #progpic{
    filter: invert(100%);
    background-color: white;
}
#page4{
    height: 100vh;
    width: 100%;
    background:rgba(0,0,0,0.5)url("page4bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#page4bar{
    width: 9%;
    border : 2px solid rgb(255, 255, 255);
    background-color: rgb(247, 245, 245);
    
}
#getintouch{
    margin-top: 50px;
    font-size: 2.5rem;
    color: white;
}
#aboutpg4{
    width: 40%;
    height: 30vh;
    display:flex;
    justify-content: space-between;
}
#phonepic{
    width: 50px;
}
#messagepic{
    width: 50px;
}
#homepic{
    width: 50px;
}
